section {
	display: flex;
	width: 100%;

	&.section-bg {
		background-image: url("../img/bg1.jpg");
		background-size: cover;
	}

	.section-content {
		width: 100%;
		min-height: 500px;
		padding: 24px 120px;
		margin: 0 auto;

		@media (max-device-width: @phone-screen) {
			padding: 16px;
		}
	}
}
